# 忽略Maven构建目录
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# 忽略IDE配置
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store

# 忽略日志文件
*.log
logs/

# 忽略临时文件
*.tmp
*.bak
*.swp
*~.nib
